<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Style -->
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <!-- <script src="js/jquery-3.3.1.min.js"></script> -->
  <!-- <script src="js/popper.min.js"></script> -->
  <!-- <script src="js/bootstrap.min.js"></script> -->
  <!-- <script src="js/main.js"></script> -->
  <title>관리자 페이지</title>
</head>

<!-- 헤더 navigation 시작 -->
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/main">회원관리</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/insQuote">명언추가</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout" class="header_logout">LOGOUT</a>
  </li>
</ul>


<body>