<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<body>
  <header class="header">
      <!-- 헤더 navigation 시작 -->
      <nav class="header_nav">
          <ul>
              <li>
                  <a href="/insQuote">명언추가</a>
                  <a href="/">추가할 기능들</a>
              </li>
          </ul>
      </nav>
      <!-- 헤더 navigation 끝 -->

      <!-- 로그아웃 -->
      <a href="/logout" class="header_logout">LOGOUT</a>
    </header>