* {
	margin: 0;
	box-sizing: border-box;
}

/* 아이콘 */
i {
	margin-right: 5px;
}
/* 버튼자체가 아이콘인 경우 */
.icon {
	width: 15px;
	height: 15px;
	padding: 0;
}
.icon i {
	display: block;
	margin-right: 0;
}

/* 큰 아이콘 */
.big_icon {
	display: block;
	width: 52px;
	height: 52px;
	margin: 15px auto;
	background-repeat: no-repeat;
	background-position: center;
}
.big_icon.check {
	background-image: url("/images/icon/big_check.png");
}
.big_icon.mark {
	background-image: url("/images/icon/big_mark.png");
}

/* 컬러 */
.color_grey {
	color: #999;
}
.color_blue {
	color: #0176eb;
}

/* 버튼 */
button {
	height: 37px;
	padding: 0 15px;
	border: none;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	font-size: 14px;
	cursor: pointer;
}
button:focus {
	outline: none;
}

/* 버튼 - 기본값 */
.btn_default {
	border-radius: 2px;
	background-color: rgb(239, 239, 239);
}

/* 버튼 - 배경색 */
.btn_black {
	background-color: #333;
	color: #FFF;
}
.btn_black:hover {
	background-color: #1c1c1c;
}
.btn_grey {
	background-color: #888;
	color: #FFF;
}
.btn_grey:hover {
	background-color: #555555;
}
.btn_blue {
	background-color: #0176eb;
	color: #FFF;
}
.btn_blue:hover {
	background-color: #0152a4;
}
.btn_blue.hover {
	background-color: #0152a4;
}
.btn_red {
	background-color: #e90000;
	color: #FFF;
}
.btn_red:hover {
	background-color: #d30707;
}
.btn_yellow {
	background-color: #f9d409;
	color: #FFF;
}
.btn_yellow:hover {
	background-color: #f0c000;
}
.btn_lightBlue {
	background-color: #dceeff;
	color: #0176eb;
}

/* 버튼 - 작은 사이즈 */
button.xs {
	height: 21px;
	padding: 0 8px;
	font-size: 12px;
}

/* 버튼 - disabled */
button[disabled] {
	opacity: 0.5;
}

/* 버튼 - 전체, 반쪽 */
.btn_whole {
	width: 100%;
}
.btn_half {
	width: calc(50% - 3px);
}

/* 버튼 - 정렬 */
.btn_filter_box {
	display: flex;
	align-items: center;
}
.btn_filter_group {
	position: relative;
	padding: 0 10px;
}
.btn_filter_group span {
	position: absolute;
	width: 0;
	height: 0;
	margin: 3px 0;
	border: 5px solid transparent;
	cursor: pointer;
}
.btn_up {
	top: 0;
	border-top-color: #999 !important;
}
.btn_up:hover {
	border-top-color: #000 !important;
}
.btn_down {
	bottom: 0;
	border-bottom-color: #999 !important;
}
.btn_down:hover {
	border-bottom-color: #000 !important;
}

/* 버튼 - 관리 */
.btn_manage_group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.btn_manage_group button:hover {
	color: #0176eb;
}

/* 버튼 - 수정 */
.btn_modify_group button {
	width: 35px;
	height: 31px;
	vertical-align: bottom;
}



/* 인풋 */
input:-moz-read-only {
	background-color: #FFF;
}
select::-ms-expand {
	display:none
}

input, select, textarea {
	padding: 10px 15px;
	border: 1px solid #e1e1e5;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea {
	resize: none;
}
input:focus, select:focus {
	outline: none;
	border-color: #000;
}
select {
	min-width: 80px;
	background-image: url("/images/icon/select.svg");
	background-repeat: no-repeat;
	background-position: center right 10px;
	background-size: 12px;
	color: #999;
	cursor: pointer;
}
input:disabled {
	background: #f6f6f8;
}
input::-webkit-input-placeholder {
	color: #999;
}
input:-ms-input-placeholder {
	color: #999;
}
textarea::-webkit-input-placeholder {
	color: #999;
}
textarea:-ms-input-placeholder {
	color: #999;
}


/* 인풋 - 검색 */
.search_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}
.input_search {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	width: 340px;
	border: 1px solid #e1e1e5;
	border-radius: 3px;
}
.input_search input {
	flex: 0 1 100%;
	max-width: calc(100% - 15px);
	padding: 0;
	border: none;
	outline: none;
}
.input_search button {
	color: #999;
}

/* 체크박스 */
.chk_common {
	cursor: pointer;
}
.chk_common input {
	display: none;
}
.chk_common input[type="checkbox"] + span {
	display: block;
	width: 18px;
	height: 18px;
	border: 1px solid #CCC;
	border-radius: 3px;
	background-color: #FFF;
}
.chk_common input[type="checkbox"]:checked + span {
	border-color: #333;
	background-color: #333;
	background-image: url("/images/icon/check.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 12px;
}
.chk_common input[type="radio"] + span {
	display: block;
	position: relative;
	width: 18px;
	height: 18px;
	border: 1px solid #CCC;
	border-radius: 100%;
	background-color: #FFF;
}
.chk_common input[type="radio"]:checked + span::before {
	content: '';
	display: block;
	position: absolute;
	margin-top: -4px;
	margin-right: -4px;
	top: 50%;
	right: 50%;
	width: 8px;	
	height: 8px;
	border-radius: 100%;
	border-color: #333;
	background-color: #333;
}
.chk_common > p {
	display: inline-block;
	margin-left: 3px;
	vertical-align: middle;
}

/* 테이블 */
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
tbody tr {
	border-bottom: 1px solid #ededf0;
}
tbody tr:hover {
	color: #0176eb;
}
th, td {
	padding: 20px;
	text-align: left;
}
th {
	background-color: #f9f9f9;
	font-weight: 400;
	color: #999;
}

/* 테이블 - 수정 */
.table_modify td {
	padding: 10px 5px;
}
.table_modify td:first-of-type {
	padding: 20px;
}
.input_modify {
	width: 100%;
	border: none;
}
.input_modify:focus {
	outline: none;
}
.input_modify.active {
	border: 1px solid #ededf0;
}
.input_modify.active:focus {
	border-color: #000;
}

/* 테이블 - 테두리 */
.table_border {
	width: 50%;
}
.table_border th, 
.table_border td {
	border: 1px solid #ededf0;
}
.table_border th {
	border-bottom-color: transparent;
}
.table_border th:first-of-type, 
.table_border td:first-of-type {
	text-align: center;
}
.table_border tbody tr:hover {
	color: inherit;
}

/* 페이지네이션 */
.pagination_box {
	padding: 40px 0;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	font-size: 14px;
}
.pagination li {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.pagination li:hover {
	background-color: #efefef;
}
.pagination li.active {
	background-color: #333;
	color: #FFF;
}

.page-item {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.page-item:hover {
	background-color: #efefef;
}
.page-item.active {
	background-color: #333;
	color: #FFF;
}
.page-item:first-child::before,
.page-item:first-child::after,
.page-item:nth-child(2)::before,
.page-item:last-child::before,
.page-item:last-child::after,
.page-item:nth-last-child(2)::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-color: #999;
	transform: translate(-50%, -50%) rotate(45deg);
}
.page-item:first-child,
.page-item:nth-child(2) {
	transform: rotate(-180deg);
}
.page-item:first-child::before,
.page-item:last-child::after {
	margin-left: -5px;
}

/* 탭 */
.tab_list {
	position: relative;
	width: 100%;
	padding: 10px 20px;
	border-bottom: 1px solid #ededf0;
	text-align: center;
	cursor: pointer;
}

/* 탭 - 작은 사이즈 */
.tab_list.sm {
	flex: 0 0 100px;
	max-width: 100px;
}

/* 탭 - 기본 */
.tab_common {
	display: flex;
}
.tab_common .tab_list::after {
	content: "";
	position: absolute;
	top: 50%;
	right: -1px;
	width: 1px;
	height: 40%;
	background-color: #e1e1e5;
	transform: translateY(-50%);
}
.tab_common .tab_list:last-of-type::after {
	width: 0;
}
.tab_common .tab_list.active {
	border: 1px solid #dfdff0;
	border-bottom: none;
}
.tab_common .tab_list.active::after {
	width: 0;
}

/* 탭 - 밑줄 */
.tab_underline {
	display: flex;
}
.tab_underline .tab_list.active {
	border-bottom: 2px solid #0176eb;
}

/* 탭 - 내용 */
.tab_content {
	display: none;
}
.tab_content.active {
	display: inherit;
}

/* 툴팁 */
.popover_box {
	position: relative;
}
.popover {
	display: none;
	position: absolute;
	bottom: calc(100% + 10px);
	left: 50%;
	padding: 10px 15px;
	border: 1px solid #e1e1e5;
	border-radius: 2px;
	font-size: 12px;
	color: #666;
	white-space: nowrap;
	transform: translateX(-50%);
}
.popover::after {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 50%;
	width: 10px;
	height: 10px;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color: #e1e1e5;
	background-color: #FFF;
	transform: translateX(-50%) rotate(45deg);
}
.popover_box:hover .popover {
	display: inherit;
}

.tooltip {
	display: none;
	position: absolute;
	padding: 10px 15px;
	border-radius: 2px;
	background-color: #333;
	font-size: 12px;
	color: #FFF;
	white-space: nowrap;
	z-index: 1;
}
.tooltip::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #333;
}

.tooltip_box {
	position: relative;
}
.tooltip_box:hover .tooltip {
	display: inherit;
}
.tooltip_box.right .tooltip {
	margin-left: 10px;
	top: 50%;
	right: auto;
	bottom: auto;
	left: 100%;
	transform: translateY(-50%);
}
.tooltip_box.right .tooltip::before {
	top: 50%;
	right: auto;
	bottom: auto;
	left: -5px;
	transform: translateY(-50%) rotate(-45deg);
}
.tooltip_box.left .tooltip {
	margin-right: 10px;
	top: 50%;
	right: 100%;
	bottom: auto;
	left: auto;
	transform: translateY(-50%);
}
.tooltip_box.left .tooltip::before {
	top: 50%;
	right: -5px;
	bottom: auto;
	left: auto;
	transform: translateY(-50%) rotate(-45deg);
}
.tooltip_box.top .tooltip {
	margin-bottom: 10px;
	top: auto;
	right: auto;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
}
.tooltip_box.top .tooltip::before {
	top: auto;
	right: auto;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%) rotate(-45deg);
}
.tooltip_box.bottom .tooltip {
	margin-top: 10px;
	top: 100%;
	right: auto;
	bottom: auto;
	left: 50%;
	transform: translateX(-50%);
}
.tooltip_box.bottom .tooltip::before {
	top: -5px;
	right: auto;
	bottom: auto;
	left: 50%;
	transform: translateX(-50%) rotate(-45deg);
}

/* 모달 */
.modal {
	position: fixed;
	top: 0;
	left: 50%;
	border: 1px solid #e1e1e5;
	background-color: #FFF;
	transition: top 500ms, opacity 500ms;
	transform: translate(-50%, -100%);
	opacity: 0;
	z-index: 10;
}
.modal.active {
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
}
.modal_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 25px;
	border-bottom: 1px solid #e1e1e5;
}
.modal_header h2 {
	font-size: 14px;
}
.modal_body {
	padding: 30px 25px;
}
.modal_footer {
	padding: 30px 0;
	text-align: center;
}
.modal.lg {
	width: 700px;
}
.modal.sm {
	width: 420px;
}
.modal_content {
	text-align: center;
}

.modal_back {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9;
}

/* 헤더 */
.header {
	flex: 0 0 240px;
	max-width: 240px;
	position: relative;
	height: 100%;
	background-color: #006ad7;
	color: #FFF;
}

/* 헤더 - 로고 */
.header_logo {
	display: block;
	padding: 40px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}

/* 헤더 - 메뉴 */
.header_nav li {
	transition: background-color 500ms;
}
.header_nav li.active {
	background-color: #0176eb;
}
.header_nav a {
	display: flex;
	align-items: center;
	padding: 20px;
}
.header_nav a::before {
	content: "";
	width: 6px;
	height: 6px;
	margin-right: 10px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-color: rgba(255, 255, 255, 0.5);
	transform: rotate(45deg);
	transition: border-color 500ms;
}
.header_nav a.active::before {
	border-color: #FFF;
}

/* 헤더 - 서브메뉴 */
.header_subnav {
	display: none;
	padding: 0 40px;
	padding-bottom: 20px;
}
.header_subnav a {
	padding: 10px 0;
	color: rgba(255, 255, 255, 0.5);
}
.header_subnav a:hover {
	color: #FFF;
}
.header_subnav a::before {
	content: "";
	width: 0;
	height: 0;
	margin-right: 0;
	border-color: transparent;
}
.header_subnav a.active {
	color: #FFF;
}
.header_subnav a.active::before {
	border-color: transparent;
}

/* 헤더 - 로그아웃 */
.header_logout {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 25px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}
.header_logout:hover {
	color: #FFF;
}

/* 메인 */
.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 1 100%;
	max-width: 100%;
	padding: 25px;
	background-color: #f9f9f9;
}

/* 카드 */
.card {
	width: 100%;
	height: 100%;
	background-color: #FFF;
	overflow-y: auto;
}
.card.half {
	flex: 0 0 calc(50% - 12.5px);
	max-width: calc(50% - 12.5px); 
}
.card_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
	border-bottom: 1px solid #ededf0;
}
.card_header h1 {
	font-size: 20px;
}
.card_header .required span {
	margin-right: 3px;
	font-weight: 600;
	color: #0176eb;
}

.card_sub_header {
	padding-bottom: 10px;
	margin: 50px 0 30px;
	border-bottom: 1px solid #ededf0;
}
.card_sub_header:first-child {
	margin-top: 0;
}
.card_sub_header h2 {
	font-size: 16px;
}

.card_body {
	padding: 25px;
}

/* 뷰 */
.view_box {
	padding-bottom: 25px;
	border-bottom: 1px solid #ededf0;
}
.view_desc {
	display: flex;
	align-items: center;
	padding: 15px 0;
}
.view_desc dt {
	flex: 0 0 120px;
	max-width: 120px;
}
.view_desc dt.required span {
	margin-left: 3px;
	font-weight: 600;
	color: #0176eb;
}
.view_desc dd {
	flex: 0 1 100%;
	max-width: 100%;
	color: #999;
}
.view_desc input {
	width: 100%;
}
.view_img_box {
	display: flex;
	align-items: center;
}
.view_img {
	display: block;
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.view_img_desc {
	margin-left: 20px;
}
.view_btn_group {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}
.view_btn_group.right {
	justify-content: flex-end;
}

/* 로그인 */
.login_back {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #f9f9f9;
}
.login_box {
	width: 720px;
	padding: 70px 0;
	background-color: #FFF;
	text-align: center;
}
.login_box h1 {
	font-size: 24px;
}
.login_group {
	max-width: 300px;
	margin: 0 auto;
	margin-top: 20px;
}
.login_group input,
.login_group button {
	width: 100%;
	margin-top: 10px;
}
.btn_login {
	background-color: #333;
	color: #FFF;
}

/* 위아래 여백용 박스 */
.padding_box {
	padding: 30px 0;
}


/* 인풋 */
/* .input_row + .input_row {
	margin-top: 15px;
} */
.input_row {
	display: flex;
	margin-bottom: 15px;
}
.input_col {
	flex: 0 0 100%;
	max-width: 100%;
}
.cnt2 .input_col {
	flex: 0 0 50%;
	max-width: calc(50% - 10px);
}
.input_col + .input_col {
	margin-left: 20px;
}
.cnt3 .input_col {
	flex: 0 0 33.3333%;
	max-width: calc(33.3333% - 10px);
}
.input_col .title {
	margin-bottom: 5px;
}
.input_col .title.required span {
	margin-left: 3px;
	font-weight: 600;
	color: #0176eb;
}
.input_item + .input_item {
	margin-top: 12px;
}
.input_item select,
.input_item input,
.input_item textarea {
	width: 100%;
}

.number_control {
	display: flex;
	align-items: center;
}
.number_control > input {
	height: 40px;
	border-left: none;
	border-right: none;
	border-radius: 0;
}
.number_control button {
	position: relative;
	flex: 0 0 40px;
	max-width: 40px;
	height: 40px;
	border: 1px solid #e1e1e5;
	border-radius: 0;
	background-color: #f6f6f8;
}
.number_control button::before {
	content: '';
	display: block;
	position: absolute;
	margin-right: -7px;
	margin-top: 0px;
	top: 50%;
	right: 50%;
	width: 12px;
	height: 1px;
	background-color: #000;
}
.number_control button:last-child::after {
	content: '';
	display: block;
	position: absolute;
	margin-top: -5px;
	margin-right: -1px;
	top: 50%;
	right: 50%;
	width: 1px;
	height: 12px;
	background-color: #000;
}
.date_control input,
.date_control button {
	background-color: transparent;
	border: none;
}
.date_control {
	display: flex;
	align-items: center;
	border: 1px solid #e1e1e5;
	border-radius: 3px;
}
.date_control input {
	flex: 0 1 100%;
	max-width: calc(100% - 40px);
}
.date_control button {
	padding: 0;
	flex: 0 0 40px;
	max-width: 40px;
	height: 40px;
}
.date_control.dual input {
	max-width: calc(50% - 20px);
}
.date_control.dual span {
	display: block;
	flex: 0 0 10px;
	max-width: 10px;
	text-align: center;
	color: #b1b1b1;
}

/* 파일 업로드 */
.file_upload input[type=file] {
	display: none;
}
.file_upload .file_upload_inner {
	display: flex;
	position: relative;
	min-height: 40px;
	border: 1px solid #e1e1e5;
	border-radius: 3px;
	align-items: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.file_upload .file_upload_inner .file_upload_txt {
	display: block;
	padding: 0 10px;
	flex: 0 1 100%;
	max-width: calc(100% - 75px);
	font-size: 0.875rem;
	color: #999;
}
.file_upload .file_upload_inner .file_upload_btn {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 75px;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #f5f6f7;
	border-left: 1px solid #e1e1e5;
	font-size: 0.75rem;
}
.file_upload.on .file_upload_inner .file_upload_img + .file_upload_txt {
	max-width: calc(100% - 155px);
}
.file_upload.on .file_upload_inner .file_upload_img {
	margin: 5px;
	height: 70px;
	flex: 0 0 70px;
	max-width: 70px;
	background-position: center;
	background-size: cover;
}
.file_upload.on .file_upload_inner .file_upload_txt {
	color: #000;
}
.file_upload_wrap {
	display: flex;
	justify-content: space-between;
}
.file_upload_wrap + .file_upload_wrap {
	margin-top: 5px;
}
.file_upload_wrap > *:first-child {
	flex: 0 1 100%;
	max-width: calc(100% - 45px);
}
.file_upload_wrap > .btn_area button {
	position: relative;
	padding: 0;
	width: 40px;
	height: 100%;
	border: 1px solid #e1e1e5;
	border-radius: 0;
	background-color: #f6f6f8;
}
.file_upload_wrap > .btn_area button::before {
	content: '';
	display: block;
	position: absolute;
	margin-right: -7px;
	margin-top: 0px;
	top: 50%;
	right: 50%;
	width: 13px;
	height: 1px;
	background-color: #000;
}
.file_upload_wrap > .btn_area button::after {
	content: '';
	display: block;
	position: absolute;
	margin-top: -6px;
	margin-right: -1px;
	top: 50%;
	right: 50%;
	width: 1px;
	height: 13px;
	background-color: #000;
}
.file_upload_wrap > .btn_area button.minus::after {
	display: none;
}
.file_upload_wrap > .btn_area button:hover {
	background-color: #000;
}
.file_upload_wrap > .btn_area button:hover::before,
.file_upload_wrap > .btn_area button:hover::after {
	background-color: #fff;
}

.input_item .chk_common {
	margin-right: 20px;
}
.input_item .chk_common input + span {
	display: inline-block;
	vertical-align: middle;	
}

/* diff-validation */
.diffValidation {
	margin-top: 3px;
	color: #ea0000;
	font-size: 12px;
}
.diffValidation > img {
	margin-top: -1px;
	vertical-align: middle;
}

/*데이트 피커 datepicker*/
.xdsoft_datetimepicker .xdsoft_calendar tr {
	border: none;
}
.xdsoft_datetimepicker .xdsoft_calendar th {
	font-weight: 700;
	text-align: center;
	color: #999;
	cursor: default;
}
.xdsoft_datetimepicker .xdsoft_calendar th {
	background: #f1f1f1;
}
.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th {
	background: #fff;
	border: none;
	color: #000;
	text-align: center
}
.xdsoft_datetimepicker .xdsoft_calendar th:first-child,
.xdsoft_datetimepicker .xdsoft_calendar td:first-child {
	color: #e20000;
}
.xdsoft_datetimepicker .xdsoft_calendar td > div {
	padding-right: 0; 
}

/* fileupload js */
/* input */
.fileuploader-theme-dragdrop .fileuploader-input {
    display: block;
    padding: 60px 0;
    background: #fff;
    border: 2px dashed #c2cdda;
    border-radius: 14px;
    text-align: center;
}

.fileuploader-theme-dragdrop .fileuploader-input .fileuploader-icon-main {
    display: block;
    font-size: 56px;
	margin: 0 auto;
	margin-bottom: 26px;
}
.fileuploader-theme-dragdrop .fileuploader-input h3 {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    font-size: 18px;
    font-weight: bold;
    color: #5B5B7B;
    white-space: normal;
    box-shadow: none;
}
.fileuploader-theme-dragdrop .fileuploader-input p {
    margin: 0;
    padding: 0;
    color: #90a0bc;
    margin-bottom: 12px;
}

.fileuploader-input .fileuploader-input-button {
	padding: 10px 18px;
}

/* dragging state */
.fileuploader-theme-dragdrop .fileuploader-input .fileuploader-input-inner > * {
    -webkit-transition: 500ms cubic-bezier(0.17, 0.67, 0, 1.01);
            transition: 500ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.fileuploader-theme-dragdrop .fileuploader-input.fileuploader-dragging .fileuploader-input-inner > * {
	transform: translateY(18px);
	opacity: 0;
}
.fileuploader-theme-dragdrop .fileuploader-input.fileuploader-dragging .fileuploader-icon-main {
    transform: translateY(30px) scale(1.2);
	opacity: 0.6;
}
.fileuploader-theme-dragdrop .fileuploader-input.fileuploader-dragging .fileuploader-input-caption {
    transform: translateY(30px);
	opacity: 0.6;
}

/* 게시판 */
.list_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #f9f9f9;
}
.list_header h2 {
	font-size: 14px;
}
.list_header.full h2,
.list_header.full input {
	width: 100%;
}
.list_body {
	padding: 30px 20px 50px;
	border-bottom: 1px solid #ededf0;
}
.list_body img {
	display: block;
	max-width: 100%;
	height: auto;
}
.list_body figcaption {
	padding: 11px 0;
	background-color: #f7f7f7;
	font-size: .75em;
	text-align: center;
  color: #333;
}
.list_body textarea {
	width: 100%;
}
.list_footer dl {
	display: flex;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid #ededf0;
}
.list_footer dt {
	margin-right: 15px;
	text-align: center;
}
.list_footer dd {
	color: #999;
}
.list_desc {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ededf0;
}
.list_desc dl {
	display: flex;
	align-items: center;
}
.list_desc dl + dl::before {
	content: "|";
	margin: 0 20px;
	color: #CCC;
}
.list_desc dt {
	margin-right: 15px;
}

/* ckeditor */
main .ck.ck-content {
	min-height: 400px;
}