<%- include("../partials/header"); -%>
<main class="main">
<section class="card">
    <div class="card_header">
        <h1>명언 추가</h1>
    </div>
    <form action="/insQuote" method="post">
        <div class="input_row">
            <p>명언</p>
            <input type="text">
        </div>
        
        </form>
</section>
</main>
        <%- include("../partials/footer"); -%>