<div class="input-group-prepend" id="addedInput">
    <span class="input-group-text" id="basic-addon1">명언</span>
    <input type="text" name="quote[]">
    <button type="button" class="btn btn-danger" onclick="delAddContents(this);">삭제</button>	
</div>